@use 'variables' as *;


.chat-screen .header{
    background:linear-gradient(90deg,$gr-2,$gr-1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border:3px solid black;
}

.chat-screen .header .logo {
    font-size: 18px;
    @include gradient-text(#07275a,#a906ca);
    font-weight: 600;
}

.chat-screen .header button{
    padding: 5px 10px;
    border: 1px solid #eee;
    background: transparent;
    color: #eee;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    font-family:'Rififi Serif', sans-serif;

    &:hover{
        background-color: $btn-hover;
        transform: translateY(-5px);
    }
}

.chat-screen .messages {
    width: 100%;
    height: calc(100% - 130px);
    background: #f5f5f5;
    overflow: auto;
    border: 2px solid black;
}

.chat-screen .messages .message {
    display: flex;
    padding: 10px;
}

.chat-screen .messages .message > div{
    max-width: 80%;
    background: #fff;
    box-shadow:$shadow;
    padding: 10px;
}

.chat-screen .messages .message.my-message {
    justify-content: flex-end;
}


.chat-screen .messages .message.other-message {
    justify-content: flex-start;
}


.chat-screen .messages .message .name {
    font-size: 13px;
    color: #555;
    margin-bottom: 5px;
}

.chat-screen .messages .message .text {
    word-wrap: break-word;
}

.chat-screen .messages .update {
    text-align: center;
    padding: 10px;
    font-style: italic;
}

.chat-screen .typebox {
    flex: 1;
    height: 50px;
    display: flex;
    margin-bottom: 20px;
}

.chat-screen .typebox input {
    flex: 1;
    height: 50px;
    font-size: 18px;
    border-bottom-left-radius: 20px;
    border: transparent;
    border: 2px solid black;
    font-family: 'Rififi Serif', sans-serif;
}

.chat-screen .typebox button {
    width: 80px;
    height: 100%;
    background: #111;
    color: #eee;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    font-family: 'Rififi Serif', sans-serif;

}