@use 'variables' as *;

.screen{
    display: none;  //hide inactive screens
}

.screen.active{
    display: block;
    width: 100%;
    height: 100%;
}

.screen .form{
    position: relative;
    width: 100%;
    height: 50%;
    background-color:rgba(255, 255, 255, 0.6);
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    box-shadow: $shadow;
}

.screen .form-input{
    width: 100%;
    margin: 20px 0px;
}

.screen h2 {
    margin-bottom: 20px;
    font-size: 40px;
    color: #111;
    border-bottom: 10px solid #2bc0e4;
    padding: 5px 0px;
    display: inline-block;
}

.screen .form-input label{
    display: block;
    margin-bottom: 5px;
}

.screen .form-input input{
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    font-size: 16px;
    border-radius: 20px;
}

.screen .form-input button {
    padding: 10px 20px;
    background: #2bc0e4;
    color: #eee;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    border:none;
    margin: 0 auto;
    display: block;
    border-radius: 20px;

    &:hover{
        background-color: $btn-hover;
        transform: translateY(-5px);
    }
}