@use 'variables' as *;
@import url('https://fonts.cdnfonts.com/css/sf-funk-master');
@import url('https://fonts.cdnfonts.com/css/rififi-serif');

.screen{
    display: none;  //hide inactive screens
}

.screen.active{
    display: block;
    width: 100%;
    height: 100%;
}

.screen .form{
    position: relative;
    width: 100%;
    height: 50%;
    background-color:rgba(255, 255, 255, 0.6);
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    box-shadow: $shadow;
    border: 4px solid black;
}

.screen .form-input{
    width: 100%;
    margin: 20px 0px;
}

.screen h2 {
    margin-bottom: 5px;
    font-size: 80px;
    color: #111111;
    padding: 5px 0px;
    display: inline-block;
    font-family: 'SF Funk Master', sans-serif;
    align-self: center;
                                                
}

.screen h3 {
    margin-top: 5px;
    font-size: 30px;
    color: #111111;
    border-bottom: 10px dashed $gr-1;
    padding: 5px 0px;
    display: inline-block;
    align-self: center;
                                                
}

.screen .form-input label{
    display: block;
    margin-bottom: 5px;
}

.screen .form-input input{
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid black;
    font-family: 'Rififi Serif', sans-serif;
}

.screen .form-input button {
    padding: 10px 20px;
    background:$gr-1;
    color: #eee;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    border:none;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    font-family: 'Rififi Serif', sans-serif;
    border: 2px solid black;

    &:hover{
        background-color: $btn-hover;
        transform: translateY(-5px);
    }
}