@use 'components_screen' as *;
@use 'components_chatscreen' as *;
@use 'variables' as *;

//reset layout
*,
*::before,
*::after {  
    box-sizing: border-box;
}

body {
    font-family:"Roboto", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: $bg-color-main;
}

.app{
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 600px;
    border-left: 1px;
    border-right: 1px;
}

